body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pokemon-name {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#search-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pokemon-card {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  display: none; /* Initially hide the card */
}

.pokemon-card img {
  width: 100%;
  margin-bottom: 10px;
}

.pokemon-card p {
  margin-bottom: 5px;
}
